@use "../core/color";
@use "../core/spacing";

.right-drawer {
  width: 0;
  position: fixed;
  top: 68px;
  height: calc(100vh - 68px - 40px - 0.5rem - 2px);
  z-index: 1;
  right: -1rem;
  overflow-x: hidden;
  transition: 0.5s;
  border: solid 1px color.$dark;
  border-radius: 0.5rem;

  &.is-open {
    width: clamp(240px, 100vw, 300px);
    right: 0.5rem;
  }
}